# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
**/node_modules/
# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
.pub-cache/
.pub/
.firebase/


mobile/build/
/node_modules/
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Web related
lib/generated_plugin_registrant.dart
site/public/
site/.angular/

# Content
/content/firebase-private-key.json
content/assets/books/
content/articles/*/*.json
content/assets/tatoeba/*.json
content/assets/tatoeba/*.csv
content/assets/tatoeba/*.bz2
content/assets/wanikani/*.json
content/assets/wanikani/apitoken
content/assets/words/*.json
