/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kani-app-primary: mat.define-palette(mat.$indigo-palette);
$kani-app-accent: mat.define-palette(mat.$green-palette, A400, 200, 100);

// The warn palette is optional (defaults to red).
$kani-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$kani-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $kani-app-primary,
      accent: $kani-app-accent,
      warn: $kani-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kani-app-theme);

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

/*   Font info.
700 is bold, 300 is "light".
H1 24 bold(700)  555555  app headings
H2 22 page headings
H3 18 bold bottom bar
H4 just bolded text inline headings
24 sentence font
16 normal body (news article summaries)
12 furigana
*/
$custom-typography: mat.define-typography-config(
  $font-family: 'Noto Sans JP, sans-serif',
  $headline: mat.define-typography-level(24px, 48px, 700),
  $title: mat.define-typography-level(22px, 24px, 700),
  $subheading-2: mat.define-typography-level(18px, 24px, 700),
  $subheading-1: mat.define-typography-level(16px, 24px, 700),
  $body-1: mat.define-typography-level(16px, 24px, 300),
);
// Could use body-2 for bold and caption for hints

@include mat.typography-hierarchy($custom-typography);
@include mat.all-component-typographies($custom-typography);
@include mat.core($custom-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: #555555;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #3f51b5;
}

mat-card {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05) !important;
  margin-bottom: 20px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
