.sentence-container {
  margin: 0px;
  display: flex;

  .indicator {
    background-color: #9fa8da;
    position:absolute;
    min-height: 100%;
    width: 8px;
    border-radius: 8px 0 0 8px;
  }

  .sentence {
    font-size: 24px;
    line-height: 64px;
    margin: 4px 16px;
    display: inline-block;
    font-weight: 400;
    color: #555555;

    word {
      &:hover {
        cursor: pointer;
      }
      display: inline-block;
      text-indent: 0px;
      line-height: normal;
      -webkit-text-emphasis: none;
      text-emphasis: none;
      text-align: center;
      line-height: 1;
    }

    word:before {
      content: attr(f);
      display: block;
        font-size: 50%;
        text-align: start;
      line-height: 1.5;
    }
    zword:after { // This reserves width but screws up height and doesn't overflow.
      content:attr(d);
      display:block;
      font-size: 50%;
      text-align: start;
      line-height: 1.5;
    }
    word:after { // This is similar to old behavior.
      content:attr(d);
      display: block;
      position: absolute;
      z-index: 1;
      margin-top: 0px;
      margin-left: 0px;
      // text-align: center;
      font-size: 50%;
      margin-left: -4px;
      padding-left: 4px;
      line-height: 1.5;
      color: #919191;
      user-select: none;
      background-color: white;
    }

    .controls {
      .mat-inactive {
        color: silver;
      }
      .mat-primary {
        color: #6476db;
      }

      vertical-align: middle;
      user-select: none;
      display: inline-block;
      line-height: 48px;
      mat-icon {
        font-size: 24px;
      }
      button {
        padding-top: -10px;
        vertical-align: top;
        margin-left: -10px;
      }
    }
  }

  .english {
    margin: 12px 16px;
  }

  .meaning {
    margin: 12px 16px;
    list-style-type: none;
    columns: 2;
    @media only screen and (max-width: 600px) {
      columns: 1;
    }

    .definition-word {
      font-weight: 400;
      &:hover {
        background-color: #c4cce9;
        //border: 2px solid #3f51b5; // I don't like it.
        border-radius: 4px;
      }
    }

    span {
      margin-right: 8px;
    }
  }
}