<div class="container">
  <h1>About Kani Reader</h1>

  <a href="https://www.wanikani.com">Wanikani</a> kanji and word definitions are
  used, and use is covered by
  <a href="https://www.wanikani.com/terms">www.wanikani.com/terms</a>.
  <br />
  <a href="https://www.atilika.org/">Kuromoji</a> and
  <a href="https://www.npmjs.com/package/kuromojin">Kuromojin</a>
  are used for segmentation.
  <br />
  <a href="https://github.com/melink14/rikaikun">Rikaikun</a> has a good API for
  J-E dictionary access.
  <br />
  <a href="https://www.edrdg.org/jmdict/j_jmdict.html">JMdict</a> is used for
  non-Wanikani word definitions.
  <br />
  JLPT word and kanji lists are from
  <a href="http://www.tanos.co.uk/jlpt/">www.tanos.co.uk/jlpt</a>
  <br />
  <a href="https://tatoeba.org/">Tatoeba</a> sentences are used.
  <br />
  Translations are from
  <a href="https://cloud.google.com/translate/docs">Google Translate</a>, and
  not always useful.
  <br />
  Kanireader is developed and hosted with
  <a href="https://firebase.google.com/products">Firebase</a>. 🔥🔥🔥
  <br />
  Feedback extremely welcome at
  <a href="mailto:kanireader@gmail.com">kanireader@gmail.com</a>
  <br />
  <br />
</div>
