.spinner-wrapper {
  display: inline-block;
  margin-left: 8px;
  margin-top: 8px;
}

h2 {
  margin: 12px 0;
}

input {
  max-width: 300px;
}

h3 {
  margin: 8px 0;
}

.main {
  margin: 40px 80px;
  @media only screen and (max-width: 600px) {
    margin: 16px;
  }
}

button {
  margin: 12px;
}

.apikey {
  font-size: 12px;
}

mat-card {
  margin-bottom: 32px;
}

mat-form-field {
  min-width: 200px;
  margin-right: 40px;
}

.word-card {
  display: inline-block;
  margin-right: 8px;
  border: 1px solid #4051b5;
  border-radius: 4px;
  padding: 8px 24px;
  text-align: center;
  color: #4051b5;

  :first-child {
    font-size: 75%;
    color: black;
  }
}
